In [ ]:
import pandas as pd
import psycopg2
import plotly.express as px
import requests
import json

In [ ]:
#DataFrame creation

#sql connection
mydb= psycopg2.connect(host="localhost",
                       user="postgres",
                       port="5432",
                       database="phonepe",
                       password="Shri@2004")
cursor=mydb.cursor()

#---------------------------------------------------------------------------
#agg_insurance_df
cursor.execute("SELECT * FROM aggregated_insurance")
mydb.commit()
table1=cursor.fetchall()

Aggre_insurance=pd.DataFrame(table1,columns=("State","Years","Quarter","Transaction_type","Transaction_count","Transaction_amount"))


#agg_transaction_df
cursor.execute("SELECT * FROM aggregated_transaction")
mydb.commit()
table2=cursor.fetchall()

Aggre_transaction=pd.DataFrame(table2,columns=("State","Years","Quarter","Transaction_type","Transaction_count","Transaction_amount"))


#agg_user_df
cursor.execute("SELECT * FROM aggregated_user")
mydb.commit()
table3=cursor.fetchall()

Aggre_user=pd.DataFrame(table3,columns=("State","Years","Quarter","Brands","Transaction_count","Percentage"))

#--------------------------------------------------------------------------------------------------------------
#map_insurance_df
cursor.execute("SELECT * FROM map_insurance")
mydb.commit()
table4=cursor.fetchall()

Map_insurance=pd.DataFrame(table4,columns=("State","Years","Quarter","District","Transaction_count","Transaction_amount"))


#map_transaction_df
cursor.execute("SELECT * FROM map_transaction")
mydb.commit()
table5=cursor.fetchall()

Map_transaction=pd.DataFrame(table5,columns=("State","Years","Quarter","District","Transaction_count","Transaction_amount"))


#map_user_df
cursor.execute("SELECT * FROM map_user")
mydb.commit()
table6=cursor.fetchall()

Map_user=pd.DataFrame(table6,columns=("State","Years","Quarter","District","RegisteredUserst","AppOpens"))

#------------------------------------------------------------------------------------------------------------


#top_insurance_df
cursor.execute("SELECT * FROM top_insurance")
mydb.commit()
table7=cursor.fetchall()

Top_insurance=pd.DataFrame(table7,columns=("State","Years","Quarter","Pincodes","Transaction_count","Transaction_amount"))


#top_transaction_df
cursor.execute("SELECT * FROM top_transaction")
mydb.commit()
table8=cursor.fetchall()

Top_transaction=pd.DataFrame(table8,columns=("State","Years","Quarter","Pincodes","Transaction_count","Transaction_amount"))


#top_user_df
cursor.execute("SELECT * FROM top_user")
mydb.commit()
table9=cursor.fetchall()

Top_user=pd.DataFrame(table9,columns=("State","Years","Quarter","Pincodes","RegisteredUsers"))

In [ ]:
#sql connection
def top_chart_transaction_amount(table_name):
        mydb= psycopg2.connect(host="localhost",
                        user="postgres",
                        port="5432",
                        database="phonepe",
                        password="Shri@2004")
        cursor=mydb.cursor()

        #plot1 
        query1=f'''SELECT state, sum(transaction_amount) as transaction_amount
                FROM {table_name}
                group by state
                order by transaction_amount desc
                limit 10;'''
        cursor.execute(query1)
        table1=cursor.fetchall()
        mydb.commit()

        df1=pd.DataFrame(table1, columns=("state","transaction_amount"))
        fig_amount=px.bar(df1, x="state" ,y="transaction_amount", title="TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height=650, width=600,hover_name="state")

        fig_amount.show()

        #plot2
        query2=f'''SELECT state, sum(transaction_amount) as transaction_amount
                FROM {table_name}
                group by state
                order by transaction_amount 
                limit 10;'''
        cursor.execute(query2)
        table2=cursor.fetchall()
        mydb.commit()

        df2=pd.DataFrame(table2, columns=("state","transaction_amount"))
        fig_amount2=px.bar(df2, x="state" ,y="transaction_amount", title="TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.Blues_r,height=650, width=600,hover_name="state")

        fig_amount2.show()


        #plot3
        query3=f'''SELECT state, avg(transaction_amount) as transaction_amount
                FROM {table_name}
                group by state
                order by transaction_amount ;'''
        cursor.execute(query3)
        table3=cursor.fetchall()
        mydb.commit()

        df3=pd.DataFrame(table3, columns=("state","transaction_amount"))
        fig_amount3=px.bar(df3, y="state" ,x="transaction_amount", title="TRANSACTION AMOUNT", orientation="h",
                        color_discrete_sequence=px.colors.sequential.Bluered,height=650, width=600,hover_name="state")

        fig_amount3.show()

In [ ]:
#sql connection
def top_chart_transaction_count(table_name):
        mydb= psycopg2.connect(host="localhost",
                        user="postgres",
                        port="5432",
                        database="phonepe",
                        password="Shri@2004")
        cursor=mydb.cursor()

        #plot1 
        query1=f'''SELECT state, sum(transaction_count) as transaction_count
                FROM {table_name}
                group by state
                order by transaction_count desc
                limit 10;'''
        cursor.execute(query1)
        table1=cursor.fetchall()
        mydb.commit()

        df1=pd.DataFrame(table1, columns=("state","transaction_count"))
        fig_amount=px.bar(df1, x="state" ,y="transaction_count", title="TRANSACTION COUNT",
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height=650, width=600,hover_name="state")

        fig_amount.show()

        #plot2
        query2=f'''SELECT state, sum(transaction_count) as transaction_count
                FROM {table_name}
                group by state
                order by transaction_count 
                limit 10;'''
        cursor.execute(query2)
        table2=cursor.fetchall()
        mydb.commit()

        df2=pd.DataFrame(table2, columns=("state","transaction_count"))
        fig_amount2=px.bar(df2, x="state" ,y="transaction_count", title="TRANSACTION COUNT",
                        color_discrete_sequence=px.colors.sequential.Blues_r,height=650, width=600,hover_name="state")

        fig_amount2.show()


        #plot3
        query3=f'''SELECT state, avg(transaction_count) as transaction_count
                FROM {table_name}
                group by state
                order by transaction_count ;'''
        cursor.execute(query3)
        table3=cursor.fetchall()
        mydb.commit()

        df3=pd.DataFrame(table3, columns=("state","transaction_count"))
        fig_amount3=px.bar(df3, y="state" ,x="transaction_count", title="TRANSACTION COUNT", orientation="h",
                        color_discrete_sequence=px.colors.sequential.Bluered,height=800, width=1000,hover_name="state")

        fig_amount3.show()

In [ ]:
#sql connection
def top_chart_registereduser(table_name, state):
        mydb= psycopg2.connect(host="localhost",
                        user="postgres",
                        port="5432",
                        database="phonepe",
                        password="Shri@2004")
        cursor=mydb.cursor()

        #plot1 
        query1=f'''select district, sum(registereduserst) as registereduser
                    from {table_name}
                    where state= '{state}'
                    group by district
                    order by registereduser desc
                    limit 10;'''
                    
        cursor.execute(query1)
        table1=cursor.fetchall()
        mydb.commit()

        df1=pd.DataFrame(table1, columns=("district","registereduser"))
        
        fig_amount=px.bar(df1, x="district" ,y="registereduser", title="TOP 10 REGISTERED USER",
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height=650, width=600,hover_name="district")

        fig_amount.show()

        #plot2
        query2=f'''select district, sum(registereduserst) as registereduser
                    from {table_name}
                    where state= '{state}'
                    group by district
                    order by registereduser
                    limit 10;'''
                    
        cursor.execute(query2)
        table2=cursor.fetchall()
        mydb.commit()

        df2=pd.DataFrame(table1, columns=("district","registereduser"))
        
        fig_amount2=px.bar(df2, x="district" ,y="registereduser", title="LAST 10 REGISTERED USER",
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height=650, width=600,hover_name="district")

        fig_amount2.show()


        #plot3
        query3=f'''select district, avg(registereduserst) as registereduser
                    from {table_name}
                    where state= '{state}'
                    group by district
                    order by registereduser;'''
                    
        cursor.execute(query3)
        table3=cursor.fetchall()
        mydb.commit()

        df3=pd.DataFrame(table3, columns=("district","registereduser"))
        
        fig_amount3=px.bar(df3, y="district" ,x="registereduser", title="AVERAGE OF REGISTERED USER",orientation="h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height=650, width=600,hover_name="district")

        fig_amount3.show()

In [ ]:
#sql connection
def top_chart_appopens(table_name, state):
        mydb= psycopg2.connect(host="localhost",
                        user="postgres",
                        port="5432",
                        database="phonepe",
                        password="Shri@2004")
        cursor=mydb.cursor()

        #plot1 
        query1=f'''select district, sum(appopens) as appopens
                    from {table_name}
                    where state= '{state}'
                    group by district
                    order by appopens desc
                    limit 10;'''
                    
        cursor.execute(query1)
        table1=cursor.fetchall()
        mydb.commit()

        df1=pd.DataFrame(table1, columns=("district","appopens"))
        
        fig_amount=px.bar(df1, x="district" ,y="appopens", title="TOP 10 APPOPENS",
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height=650, width=600,hover_name="district")

        fig_amount.show()

        #plot2
        query2=f'''select district, sum(appopens) as appopens
                    from {table_name}
                    where state= '{state}'
                    group by district
                    order by appopens
                    limit 10;'''
                    
        cursor.execute(query2)
        table2=cursor.fetchall()
        mydb.commit()

        df2=pd.DataFrame(table1, columns=("district","appopens"))
        
        fig_amount2=px.bar(df2, x="district" ,y="appopens", title="LAST 10 APPOPENS",
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height=650, width=600,hover_name="district")

        fig_amount2.show()


        #plot3
        query3=f'''select district, avg(appopens) as appopens
                    from {table_name}
                    where state= '{state}'
                    group by district
                    order by appopens;'''
                    
        cursor.execute(query3)
        table3=cursor.fetchall()
        mydb.commit()

        df3=pd.DataFrame(table3, columns=("district","appopens"))
        
        fig_amount3=px.bar(df3, y="district" ,x="appopens", title="AVERAGE OF APPOPENS",orientation="h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height=650, width=600,hover_name="district")

        fig_amount3.show()

In [ ]:
#sql connection
def top_chart_registeredusers(table_name):
        mydb= psycopg2.connect(host="localhost",
                        user="postgres",
                        port="5432",
                        database="phonepe",
                        password="Shri@2004")
        cursor=mydb.cursor()

        #plot1 
        query1=f'''select state, sum(registeredusers) as registeredusers
                    from {table_name}
                    group by state
                    order by registeredusers desc
                    limit 10;'''
                    
        cursor.execute(query1)
        table1=cursor.fetchall()
        mydb.commit()

        df1=pd.DataFrame(table1, columns=("state","registeredusers"))
        
        fig_amount=px.bar(df1, x="state" ,y="registeredusers", title="TOP 10 REGISTERED USER",
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height=650, width=600,hover_name="state")

        fig_amount.show()

        #plot2
        query2=f'''select state, sum(registeredusers) as registeredusers
                    from {table_name}
                    group by state
                    order by registeredusers
                    limit 10;'''
                    
        cursor.execute(query2)
        table2=cursor.fetchall()
        mydb.commit()

        df2=pd.DataFrame(table1, columns=("state","registeredusers"))
        
        fig_amount2=px.bar(df2, x="state" ,y="registeredusers", title="LAST 10 REGISTERED USER",
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height=650, width=600,hover_name="state")

        fig_amount2.show()


        #plot3
        query3=f'''select state, avg(registeredusers) as registeredusers
                    from {table_name}
                    group by state
                    order by registeredusers;'''
                    
        cursor.execute(query3)
        table3=cursor.fetchall()
        mydb.commit()

        df3=pd.DataFrame(table3, columns=("state","registeredusers"))
        
        fig_amount3=px.bar(df3, y="state" ,x="registeredusers", title="AVERAGE OF REGISTERED USER",orientation="h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height=650, width=600,hover_name="state")

        fig_amount3.show()

In [ ]:
top_chart_transaction_amount("aggregated_insurance")

In [ ]:
top_chart_transaction_count("aggregated_insurance")

In [ ]:
top_chart_transaction_amount("map_insurance")

In [ ]:
top_chart_transaction_count("map_insurance")

In [ ]:
top_chart_transaction_amount("top_insurance")

In [ ]:
top_chart_transaction_count("top_insurance")

In [ ]:
top_chart_transaction_amount("aggregated_transaction")

In [ ]:
top_chart_transaction_count("aggregated_transaction")

In [ ]:
top_chart_transaction_amount("map_transaction")

In [ ]:
top_chart_transaction_count("map_transaction")

In [ ]:
top_chart_transaction_amount("top_transaction")

In [ ]:
top_chart_transaction_count("top_transaction")

In [ ]:
top_chart_transaction_count("aggregated_user")

In [ ]:
top_chart_registereduser("map_user","Karnataka")

In [ ]:
top_chart_appopens("map_user","Karnataka")

In [ ]:
top_chart_registeredusers("top_user")

In [ ]:
#Transaction Year Based
def Transaction_amount_count_Y(df, year):
    tacy=df[df["Years"]==year]   
    tacy.reset_index(drop=True,inplace=True) 

    tacyg=tacy.groupby("State")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_amount=px.bar(tacyg, x="State" ,y="Transaction_amount", title=f"{year} TRANSACTION AMOUNT",
                    color_discrete_sequence=px.colors.sequential.Bluered_r,height=650, width=600)

    fig_amount.show()


    fig_count=px.bar(tacyg, x="State" ,y="Transaction_count", title=f"{year} TRANSACTION COUNT",
                    color_discrete_sequence=px.colors.sequential.Bluered,height=650, width=600)

    fig_count.show()
       
    return tacy

In [ ]:
#Transaction Quarter Based
def Transaction_amount_count_Y_Q(df, quarter):
    tacy=df[df["Quarter"]==quarter]   
    tacy.reset_index(drop=True,inplace=True) 

    tacyg=tacy.groupby("State")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_amount=px.bar(tacyg, x="State" ,y="Transaction_amount", title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT",
                    color_discrete_sequence=px.colors.sequential.Bluered_r,height=650, width=600)

    fig_amount.show()


    fig_count=px.bar(tacyg, x="State" ,y="Transaction_count", title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT",
                    color_discrete_sequence=px.colors.sequential.Bluered,height=650, width=600)

    fig_count.show()
       
    return tacy

In [ ]:
#Transaction Type
def Aggre_Tran_Transaction_type(df, state):
    tacy=df[df["State"]==state]   
    tacy.reset_index(drop=True,inplace=True) 

    tacyg=tacy.groupby("Transaction_type")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_pie1=px.pie(data_frame= tacyg, names="Transaction_type", values="Transaction_amount",
                    width=600, title=f"{state.upper()} TRANSACTION AMOUNT",  hole=0.5)
    fig_pie1.show()

    fig_pie2=px.pie(data_frame= tacyg, names="Transaction_type", values="Transaction_count",
                    width=600, title=f"{state.upper()} TRANSACTION COUNT",  hole=0.5)
    fig_pie2.show()

In [ ]:
#Aggregated user analysis1
def Aggre_user_plot1(df,year):
    aguy=df[df["Years"]==year]
    aguy.reset_index(drop=True,inplace= True)

    aguyg=pd.DataFrame(aguy.groupby("Brands")["Transaction_count"].sum())
    aguyg.reset_index(inplace=True)

    fig_bar1=px.bar(aguyg, x="Brands",y="Transaction_count", title=f"{year} BRANDS AND TRANSACTION COUNT",
                    width=1000, color_discrete_sequence=px.colors.sequential.Greens_r,hover_name="Brands")
    fig_bar1.show()
    
    return aguy

In [ ]:
# Aggregated user analysis 2
def Aggre_user_plot2(df, quarter):
    aguyq=df[df["Quarter"]==quarter]
    aguyq.reset_index(drop=True,inplace= True)

    aguyqg=pd.DataFrame(aguyq.groupby("Brands")["Transaction_count"].sum())
    aguyqg.reset_index(inplace=True)

    fig_bar2=px.bar(aguyqg, x="Brands",y="Transaction_count", title=f"{quarter} QUARTER, BRANDS AND TRANSACTION COUNT",
                        width=1000, color_discrete_sequence=px.colors.sequential.Greens_r,hover_name="Brands")
    fig_bar2.show()
    
    return aguyq

In [ ]:
#aggregated user analysis 3
def Aggre_user_plot3(df,state):
    auyqs=df[df["State"]==state]
    auyqs.reset_index(drop=True,inplace=True)

    fig_line1=px.line(auyqs, x="Brands",y="Transaction_count", hover_data= "Percentage",
                    title=f"{state.upper()} BRANDS, TRANSACTION COUNT, PERCENTAGE",width=1000,markers=True)
    fig_line1.show()

In [ ]:
#map insurance district 
def Map_insur_District(df, state):
    
    tacy=df[df["State"]==state]   
    tacy.reset_index(drop=True,inplace=True) 

    tacyg=tacy.groupby("District")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_bar1=px.bar(tacyg, x="Transaction_amount", y="District", orientation="h",
                    title=f"{state.upper()} DISTRICT AND TRANSACTION AMOUNT",color_discrete_sequence= px.colors.sequential.Mint_r)
    fig_bar1.show()

    fig_bar2=px.bar(tacyg, x="Transaction_count", y="District", orientation="h",
                    title=f"{state.upper()} DISTRICT AND TRANSACTION COUNT",color_discrete_sequence= px.colors.sequential.Redor_r)
    fig_bar2.show()

In [ ]:
#map user plot1
def map_user_plot1(df,year):
    muy=df[df["Years"]==year]
    muy.reset_index(drop=True,inplace= True)

    muyg=pd.DataFrame(muy.groupby("State")[["RegisteredUserst", "AppOpens"]].sum())
    muyg.reset_index(inplace=True)
    muyg

    fig_line1=px.line(muy, x="State",y=["RegisteredUserst", "AppOpens"],
                        title=f"{year} REGISTERED USER, APPOPENS",width=1000,height=800,markers=True)
    fig_line1.show()
    
    return muy

In [ ]:
#map user plot2
def map_user_plot2(df,quarter):
    muyq=df[df["Quarter"]==quarter]
    muyq.reset_index(drop=True,inplace= True)

    muyqg=pd.DataFrame(muyq.groupby("State")[["RegisteredUserst", "AppOpens"]].sum())
    muyqg.reset_index(inplace=True)
    

    fig_line2=px.line(muyqg, x="State",y=["RegisteredUserst", "AppOpens"],
                        title=f"{df['Years'].min()} YEAR {quarter} QUARTER REGISTERED USER, APPOPENS",width=1000,height=800,markers=True)
    fig_line2.show()
    
    return muyq

In [ ]:
#map user plot3
def map_user_plot3(df,state):
    muyqs=df[df["State"]==state]
    muyqs.reset_index(drop=True,inplace= True)

    fig_map_user_bar1=px.bar(muyqs, x="RegisteredUserst", y="District", orientation="h",
                            title=f"{state.upper()} REGISTERED USER", height=700, color_discrete_sequence=px.colors.sequential.RdBu_r)
    fig_map_user_bar1.show()

    fig_map_user_bar2=px.bar(muyqs, x="AppOpens", y="District", orientation="h",
                            title=f"{state.upper()} APP OPENS", height=700, color_discrete_sequence=px.colors.sequential.Bluered_r)
    fig_map_user_bar2.show()

In [ ]:
#top insurance plot1
def Top_insurance_plot1(df,state):
    tiy=df[df["State"]==state]
    tiy.reset_index(drop=True,inplace= True)

    fig_top_insur_bar1=px.bar(tiy, x="Quarter", y="Transaction_amount",hover_data="Pincodes",
                                title= "TRANSACTION AMOUNT", height=700, color_discrete_sequence=px.colors.sequential.BuGn_r)
    fig_top_insur_bar1.show()
    
    fig_top_insur_bar2=px.bar(tiy, x="Quarter", y="Transaction_count",hover_data="Pincodes",
                                title= "TRANSACTION COUNT", height=700, color_discrete_sequence=px.colors.sequential.Blues_r)
    fig_top_insur_bar2.show()

In [ ]:
#top user plot 1
def Top_user_plot1(df,year):
    tuy=df[df["Years"]==year]
    tuy.reset_index(drop=True,inplace= True)

    tuyg=pd.DataFrame(tuy.groupby(["State","Quarter"])["RegisteredUsers"].sum())
    tuyg.reset_index(inplace=True)

    fig_top_plot1=px.bar(tuyg, x="State", y="RegisteredUsers",color="Quarter",width=1000,height=800,hover_name="State",
                        color_discrete_sequence=px.colors.sequential.Burgyl,title=f"{year} REGISTERED USER")
    fig_top_plot1.show()
    
    return tuy

In [ ]:
#top user plot 2
def Top_user_plot2(df,state):
    tuys=df[df["State"]==state]
    tuys.reset_index(drop=True,inplace= True)

    fig_top_plot2=px.bar(tuys, x="Quarter",y="RegisteredUsers", title=f"{state.upper()} REGISTRED USER, PINCODDES, QUARTERS",
                        width=1000,height=800,color="RegisteredUsers", hover_data="Pincodes",color_continuous_scale=px.colors.sequential.Magenta_r)
    fig_top_plot2.show()

## Aggregated insurance

In [ ]:
tac_Y=Transaction_amount_count_Y(Aggre_insurance,2024)

In [ ]:
Aggre_insur_tac_Y_Q=Transaction_amount_count_Y_Q(tac_Y, 2)

## Aggregated Transaction

In [ ]:
Aggre_tran_tac_Y=Transaction_amount_count_Y(Aggre_transaction,2023)

In [ ]:
Aggre_Tran_Transaction_type(Aggre_tran_tac_Y,"Bihar")

In [ ]:
Aggre_tran_tac_Y_Q= Transaction_amount_count_Y_Q(Aggre_tran_tac_Y, 3)

In [ ]:
Aggre_Tran_Transaction_type(Aggre_tran_tac_Y_Q,"Bihar")

## Aggregated user

In [ ]:
Aggre_user_Y=Aggre_user_plot1(Aggre_user,2021)

In [ ]:
Aggre_user_Y_Q=Aggre_user_plot2(Aggre_user_Y, 2)

In [ ]:
Aggre_user_plot3(Aggre_user_Y_Q, "Andaman & Nicobar")

## MAP insurance

In [ ]:
Map_insur_tac_Y=Transaction_amount_count_Y(Map_insurance,2023)

In [ ]:
Map_insur_District(Map_insur_tac_Y, "West Bengal")

In [ ]:
Map_insur_tac_Y_Q= Transaction_amount_count_Y_Q(Map_insur_tac_Y, 3)

In [ ]:
Map_insur_District(Map_insur_tac_Y_Q,"Bihar")

## Map Transaction

In [ ]:
Map_tran_tac_Y=Transaction_amount_count_Y(Map_transaction,2023)

In [ ]:
Map_insur_District(Map_tran_tac_Y, "West Bengal")

In [ ]:
Map_tran_tac_Y_Q= Transaction_amount_count_Y_Q(Map_tran_tac_Y, 3)

In [ ]:
Map_insur_District(Map_tran_tac_Y_Q,"Bihar")

## Map User

In [ ]:
Map_user_Y=map_user_plot1(Map_user,2021)

In [ ]:
Map_user_Y_Q=map_user_plot2(Map_user_Y,2)

In [ ]:
map_user_plot3(Map_user_Y_Q, "Tamil Nadu")

## Top insurance

In [ ]:
Top_insur_tac_Y=Transaction_amount_count_Y(Top_insurance,2023)

In [ ]:
Top_insurance_plot1(Top_insur_tac_Y, "West Bengal")

In [ ]:
Top_insur_tac_Y_Q= Transaction_amount_count_Y_Q(Top_insur_tac_Y, 3)

## Top transaction

In [ ]:
Top_tran_tac_Y=Transaction_amount_count_Y(Top_transaction,2023)

In [ ]:
Top_insurance_plot1(Top_tran_tac_Y, "West Bengal")

In [ ]:
Top_tran_tac_Y_Q= Transaction_amount_count_Y_Q(Top_tran_tac_Y, 3)

## Top user

In [ ]:
Top_user_Y=Top_user_plot1(Top_user,2020)

In [ ]:
Top_user_plot2(Top_user_Y,"West Bengal")